<style>
  .menu-content {
    display: none;
  }
  .menu-content.active {
    display: block;
  }

  /* MEDIA */
  .media-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .media-video {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  /* PROJECT */
  .project-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
</style>
